
/*-----------------------------------------------------------------Madelene Rosengren--------------------------------------------------------------------------*/
/*-----------------------------------------------------------------Aktuellt START------------------------------------------------------------------------------*/
/*----------------------------Madelene Rosengren "Ansvar" för "Hamburgaren/Hamburgare menyn" och undersidan "Aktuellt"------------------------------------------*/


/*För at skapa min undersida användes olika templates av "CodePen" och W3Schools som användes som "baskod", sedan gjordes det egna justeringar för att anpassa 
webbplatsen som ska skapas till RFSL. Har använt mig av baskoden, ändrat, lagt till ny kod och rensat koden så mycket jag hunnit  genom att ta bort onödiga delar,
det finns fortfarande kod som kan rensas bort för att göra en renare kod. Min kod är blandad med "codepen" och "W3shools".
*/

/*Hamburgare/hamburger menyn kontrollerad med "validator", "CSS" och "HTML" validator.  https://validator.w3.org/, https://jigsaw.w3.org/css-validator/,
fixat alla errors som är kopplade till hamburgaren/hamburger menyn. Även kontrollerat med "The web accessibility practices evaluator (WCAG 2.1)
https://accessmonitor.acessibilidade.gov.pt/. Det finns en varning för sidan aktuellt "Consider using the h1 element as a top-level heading only",
jag följer denna rekommendation redan, jag använder den viktigaste rubriken längst upp på undersidan "Aktuellt". 


Det finns en "röd" felmeddelande kopplat till hamburgaren/hamburger menyn som är en "förvirrande" felmeddelande,
som jag inte hunnit lösa. I felmeddelandet säger de att "Labels should be positioned just before the fields. Labels for checkbox fields or radio button 
fields should be positioned just after the fields." Jag följer instruktionerna. "toggleHamburgerCheckbox" och "toggleHamburgerCheckboxClose" är checkboxar.
"Labels" är placerade precis efter "checkboxarna ", vilket är den rekommendationerna för tillgänglighet. Kan vara en annan fel som bråkar, och resulterar
till en otydlig resultat när felmeddelandet redovisas i validatorns scannings system*/


/*Undersidan "Aktuellt" är skapad så att den är responsiv till många stolekar. Dator, ipad och mobil.*/


/*De nedre boxarna börjar här, där nyheterna presenteras*/
/*
En template från "Codepen" användes som baskod, sedan gjordes det egna justeringar för att anpassa webbplatsen som 
ska skapas till RFSL. Har använt mig av baskoden, ändrat, lagt till ny kod och rensat koden så mycket jag hunnit 
genom att ta bort onödiga delar. 
https://codepen.io/jmegs/pen/opbyXg
*/


/*Texten som presenterar de aktuella nyheterna på undersidan*/
.aktuellt-just-nu{
  padding-top: 4rem;
  padding-left: 1rem;
  font-family: "Basic sans", "work sans", sans-serif;
  font-size: 3rem;
  color: #1f3643;
  display: flex;
  align-items: center;
}

/*Position och styling för "Texten som presenterar de aktuella nyheterna på undersida"*/
.aktuellt-just-nu-botton {
  margin-left: 10px; 
  font-size: 2.5rem;
}

/*Justerar för olika skämar*/
@media (max-width: 959px) {

  .aktuellt-just-nu{
    padding-bottom: 1rem;
  }
}

/*Justerar för olika skämar*/
@media (max-width: 479px) {

/*Texten som presenterar de aktuella nyheterna på undersidan*/
  .aktuellt-just-nu{
    padding-top: 4rem;
    padding-left: 1rem;
    padding-bottom: 0.5rem;
    font-family: "Basic sans", "work sans", sans-serif;
    font-size: 2.5rem;
    color: #1f3643;
    display: flex;
    justify-content: center; 
    align-items: center; 
  }
  /*Position och styling för "Texten som presenterar de aktuella nyheterna på undersida"*/
  .aktuellt-just-nu-botton {
    margin-left: 10px; 
    font-size: 1.5rem;
  }
}

@media (max-width: 360px) {

  
/*Texten som presenterar de aktuella nyheterna på undersidan*/
  .aktuellt-just-nu{
    padding-top: 4rem;
    padding-left: 1rem;
    padding-bottom: 0.5rem;
    font-family: "Basic sans", "work sans", sans-serif;
    font-size: 2rem;
    color: #1f3643;
    display: flex;
    justify-content: center; 
    align-items: center; 
  }
  /*Position och styling för "Texten som presenterar de aktuella nyheterna på undersida"*/
  .aktuellt-just-nu-botton {
    margin-left: 10px; 
    font-size: 1.5rem;
  }
}


@media (max-width: 300px) {

  
/*Texten som presenterar de aktuella nyheterna på undersidan*/
  .aktuellt-just-nu{
    padding-top: 4rem;
    padding-left: 1rem;
    padding-bottom: 0.5rem;
    font-family: "Basic sans", "work sans", sans-serif;
    font-size: 1.7rem;
    color: #1f3643;
    display: flex;
    justify-content: center; 
    align-items: center; 
  }
  /*Position och styling för "Texten som presenterar de aktuella nyheterna på undersida"*/
  .aktuellt-just-nu-botton {
    margin-left: 10px; 
    font-size: 1.5rem;
  }
}


/*De små nyhetsboxarna där datum ligger, stylar*/
.news-card-date-text{
  font-weight: bold;
  font-family: "Basic sans", "work sans", sans-serif;
  max-width: 6rem;
  max-height: 1rem;
  background-color:  rgba(31, 54, 67, 0.7);
    padding-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
    font-size: 0.6rem;
    display: flex;
    justify-content: center; 
    align-items: center; 
  }


/*Justerar för olika skämar, hur nyhetsboxarna lägger sig på små skärmar i kolummer*/
  @media (min-width: 30em) {
    .band {
      padding-bottom: 2rem;
      /*padding-top: 2rem;*/
    
      margin: 0 auto;
      
      display: grid;
      
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto;
      grid-gap: 20px;
  }
 
}

/* Boxarna  tillsammans eller luft mellan nyhets boxarna
Justerar för olika skämar
@media (max-width: 479px) {

  a.card {
    padding-bottom: 1em !important;
  }
  
}
*/


/*Justerar för olika skämar, hur nyhetsboxarna lägger sig på små stora skärmar i kolummer*/
@media (min-width: 60em) {
  .band {
    padding-bottom: 2rem;
    padding-top: 1rem;
  
    margin: 0 auto;
    
    display: grid;
    
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    grid-gap: 20px;
}
}


/*Stylar de nedre nyhets boxarna*/
.card {
  background: white;
  text-decoration: none;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  min-height: 100%;
  position: relative;
  top: 0;
  transition: all .1s ease-in;
}

  /* Sparar om man vill ha effekt på cards
  &:hover {
    top: -2px;
    box-shadow: 0 4px 5px rgba(0,0,0,0.2);
  }
  */
  
  /*Stylar innuti boxen där allt innehåll ska ligga i nyhets boxarna*/
  article {
    padding: 20px;
    flex: 1;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }


    /*Stylar alla h1, text*/
  h1 {
    font-size: 20px;
    margin: 0;
    color: white;
    font-weight: bold;
    font-family: "Basic sans", "work sans", sans-serif;
  }

    /*Stylar alla h2, text*/
  h2.title-card{
    font-size: 20px;
    margin: 0;
    color: white;
    font-weight: bold;
    font-family: "Basic sans", "work sans", sans-serif;
    width: auto !important; 
  }

    /*Stylar alla p, text*/
  p {
    flex: 1;
    line-height: 1.4;
    color: white;
    font-family: "Basic sans", "work sans", sans-serif;
  }
  
  
  /*Stylar den lilla bilden i nyhets boxarna*/
  .thumb {
    padding-bottom: 60%;
    background-size: cover;
    background-position: center center;
  }


/*Justerar för olika skämar*/
@media (min-width: 60em) {
 

 .item-1 {
  grid-column: 1 / span 2;  
  }

  h1 {
    font-size: 24px;
  }
  
}
 
.space_between {
  padding-bottom: 5rem;
}
 
/*
En template från "W3Shools" användes som baskod för komponenten där mankan ändra sidnummer, sedan gjordes det egna justeringar för att anpassa webbplatsen som 
ska skapas till RFSL. Har använt mig av baskoden, ändrat, lagt till ny kod och rensat koden så mycket jag hunnit genom att ta bort onödiga delar. 
W3Schools: https://www.w3schools.com/css/tryit.asp?filename=trycss_ex_pagination
*/

/*Styling för "välja sida" komponenten*/
.pagination {
  display: inline-block;
  display: flex;
  justify-content: center; 
  align-items: center; 
  font-size: 1rem;
}

/*Stylar, "välja sida" komponenten */
.pagination a {
  color: #1f3643;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  font-weight: bold;
  padding-bottom: 2rem;


  /* Sparar om man vill ha effekt på "välja sida komponenten"
  &:hover {
    font-size: 1.5rem;
  }
  */

}

/*Den lilla knappen i små nyhets boxarna, stylar*/
.button-looks {
  color: white;
  font-size: 2rem;
  display: flex;
  justify-content: center; 
  align-items: center; 
  padding-top: 0.1rem;
  cursor: pointer;

  /*Sparar om man vill ha effekt på knapparna
  &:hover {
    font-size: 2.5rem;
  }
  */
}

/*Den stora knappen i stora nyhets boxarna längst upp på undersidan, stora boxen*/
.button-looks2 {
  color: white;
  font-size: 3rem;
  display: flex;
  justify-content: center; 
  align-items: center; 
  padding-top: 0.1rem;
  cursor: pointer;

  /*Sparar om man vill ha effekt på knapparna
  &:hover {
    font-size: 3.5rem;
  }
  */

/*Tar bort alla stäck under alla ankar tags där man kan sätta länkar*/
}

a{
  text-decoration: none;
}


/*Gör plats mellan olia objekt innuti nyhets boxarna. Text, Aktuell, knappen*/
.space-between-text-and-objects-card-rem {
  padding-bottom: 2rem;
}

/*Färg för nyhetboxarna*/
.article-looks{
  background-color: #1f3643;
}


/*Stor bild, presentation för undersidan aktuellt*/
/*
En template från "Codepen" användes som baskod, sedan gjordes det egna justeringar för att anpassa webbplatsen som 
ska skapas till RFSL. Har använt mig av baskoden, ändrat, lagt till ny kod och rensat koden så mycket jag hunnit 
genom att ta bort onödiga delar. 
https://codepen.io/fluxus/pen/jEwaYK
*/


/*Styling för huvudrubriken i den stora boxen längst upp*/
.beta-uppercase{
  font-family: "Basic sans", "work sans", sans-serif;
   font-weight: bolder ;
  font-size: 5rem;
}


/*Justerar för olika skämar*/
@media (max-width: 400px) {

 
/*Styling för huvudrubriken i den stora boxen längst upp*/ 
.beta-uppercase {
  font-family: "Basic sans", "work sans", sans-serif;
  font-weight: bolder ;
  font-size: 3.8rem;
  display: flex;
  justify-content: center; 
  align-items: center; 
  }

  
/*Styling för paragraf texterna innuti stora boxen*/
  .delta {
    font-size: 1.5rem !important;
    margin-bottom: 1.2375rem;
    font-weight: bold;
    color: white;
    font-family: "Basic sans", "work sans", sans-serif;
    display: flex;
    justify-content: center; 
    align-items: center; 
  }

  
/*Styling för paragraf texterna innuti stora boxen*/
  .delta2 {
    font-size: 1rem !important;
    margin-bottom: 1.2375rem;
    color: white;
    font-family: "Basic sans", "work sans", sans-serif;
    display: flex;
    justify-content: center; 
    align-items: center; 
  }

  
/*Styling för "välja sida" komponenten*/
  .pagination {
    display: inline-block;
    display: flex;
    justify-content: center; 
    align-items: center; 
    font-size: 1rem !important;
  }

  
/*Styling för "välja sida" komponenten*/
  .pagination a {
    color: #1f3643;
    float: left;
    padding: 4px 8px;
    text-decoration: none;
    font-weight: bold;
    padding-bottom: 2rem;
  }  
}


/*Styling för paragraf texterna innuti stora boxen*/
.delta {
  font-size: 1.4rem;
  margin-bottom: 1.2375rem;
  font-weight: bold;
  color: white;
  font-family: "Basic sans", "work sans", sans-serif;
}

/*Styling för paragraf texterna innuti stora boxen*/
.delta2 {
  font-size: 1.1rem;
  margin-bottom: 1.2375rem;
  color: white;
  text-align: left;
  font-family: "Basic sans", "work sans", sans-serif;
}

/*Styling för stora boxen med stora bilden*/
section{
	height: 600px;
	padding: 3rem 0;
	position: relative;
}


/*Använder hela denna koden från codepen som ansvarar den stora bildens funktioner, bilden har en speciell effekt, hur den beter sig,  detta lämnar jag kvar, 
men har gjort justeringar med annan styling*/
.wrapper{
	max-width: 53.33rem;
	margin: 0 auto;
	position: relative;
	z-index: 10;
	transform: translateY(-50%);
	top:50%;
	text-align: center;
}
.wrapper.large-wrap{max-width: 100%;}
section:nth-of-type(3n+1){
	background-size: cover;
}
section:nth-of-type(1){
	background-image: url(https://images.pexels.com/photos/6457490/pexels-photo-6457490.jpeg);
}

section:before{
	content: attr(data-description);
	font-size: 0.9rem;
  font-family: "Basic sans", "work sans", sans-serif;
	color: #fff;
	position: absolute;
	z-index: 20;
	left: 2rem;
	top: 2rem;
}


/*Justerar för olika skämar*/
 @media screen and (min-width: 1440px) {
   section{height:700px}
 }

 /*Den genomskilniga blåa färgboxen i stora bild boxen längst upp som gör att texten syns bättre*/
 .colored {
  background-color:  rgba(31, 54, 67, 0.5);
  padding-top: 2rem;
  padding-left: 3rem;
  padding-right: 3rem;
  padding-bottom: 2rem;
  box-sizing: border-box;
}


 /*Gör mer plats i den genomskilniga blåa färg boxen, sätter luft runt texten */
.space-between-colored-and-text{
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}


 /*Den lilla boxen som visar genren för nyhetsboxarna, mini boxarna där det står "aktuellt" */
.card-button {
  background-color: #feffcd;
  color:  #1f3643;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 6px;
  width: 6rem;
  font-weight: bold;
  font-family: "Basic sans", "work sans", sans-serif;
  display: flex;
  justify-content: center; 
  align-items: center; 
}


/*
En template från "Codepen" användes som baskod, sedan gjordes det egna justeringar för att anpassa webbplatsen som 
ska skapas till RFSL. Har använt mig av baskoden, ändrat, lagt till ny kod och rensat koden så mycket jag hunnit 
genom att ta bort onödiga delar. https://codepen.io/musayazlik/pen/KKpXGZB
*/

/*Meny för ikonerna, social media. instagram, facebook, twitter,tiktok och youtube. */
/*Justerar stylingen för menyn och justerar menyn för olika skärmar*/
@media (min-width: 60em) {
}

.menu-nav-news {
  background: #482c4c;
  box-shadow: 0 0 10px 5px rgba(97, 97, 97, 0.16);
  display: flex;
}

.menu-nav-news ul {
  padding: 0;
  display: flex; 
  list-style-type: none; 
}

.menu-nav-news ul li {
  width: 2rem;
}

.menu-nav-news ul li {
  display: flex;
  color: white;
  text-decoration: none;
  padding-bottom: 0.25rem;
  text-transform: uppercase;
  transition: 300ms all;
  padding: 0.938rem;
  font-size: 0.6rem;
  font-weight: bold;
}

/*Justerar för olika skämar*/
@media (max-width: 479px) {

  .band {
   padding-bottom: 2rem;
  }

}

/*Justerar för olika skämar*/
@media (max-width: 958px) {

  .menu-nav-news {
    background: #482c4c;
    box-shadow: 0 0 10px 5px rgba(97, 97, 97, 0.16);
    display: flex; 
  }

}

/*Justerar för olika skämar*/
@media (max-width: 338px) {

  .menu-nav-news ul a {
    display: flex;
    color: white;
    text-decoration: none;
    padding-bottom: 0.25rem;
    text-transform: uppercase;
    transition: 300ms all;
    padding: 0.938rem;
    font-size: 0.4rem;
  }
  
}

/*Styling för de olika ikonerna. Twitter, Tiktok och Youtube*/
.icon-size-aktuellt {
  font-size: 1.6em !important;
    margin: 0 .2em;
    color: #fff;
    transition: color 0.3s ease-out;
}

i.fa-twitter:hover {
  color: #4267B2;
  transition: color 0.3s ease-in;
}

i.fa-tiktok:hover {
  color: #C13584;
  transition: color 0.3s ease-in;
}

i.fa-youtube:hover {
  color: #4267B2;
  transition: color 0.3s ease-in;
}

/*-----------------------------------------------------------------Aktuellt SLUT------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------Madelene Rosengren-------------------------------------------------------------------------*/

/*Headern gick sönder nä jag fixade valideringen på koden, fixade språkknapparna hur de låg, deras placering som huvud startsidan*/
.language {
  padding-top: 2.7rem;
}

@media (max-width: 767px) {

  .language {
    padding-top: 2rem;
  }
}







