main {
    display: flex;
    justify-content: center;
}

.box {
    display: flex;
    flex-direction: column;
    width: 60vw;
    margin-top: -1em;
    margin-bottom: 2em;
}

.img-box {
    width: 60vw;
    height: auto;
    z-index: 1;
}

.img-box img {
    width: 60vw;
}

.heading1 {
    text-align: center;
    margin-right: 40%;
    font-size: 7em;
    margin-top: -0.2em;
}

.heading2 {
    text-align: center;
    margin-top: -0.7em;
    font-size: 6em;
    margin-left: 15%;
}

.wave {
    margin-top: -16em;
    width: 60vw;
}

.row {
    display: flex;
    flex-direction: row;
}

.cloud {
    position: relative;
    display: flex;
    margin-top: -6em;
    text-decoration: underline;
    align-items: end;
    height: 10em; 
    width: 12.5em; 
    margin-left: auto;
}

.cloud a {
    width: 12.5em;
    text-align: center;
    font-weight: bold;
}

.grid {
    display: flex;
    gap: 2em 2em;
    flex-wrap: wrap;
    margin-top: 2em;
    justify-content: center;
}

.article {
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 20em;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    justify-content: center;
}

#coloredBox {
    position: relative;
    background-color: #1F3643;
    color: #fffdfc;
}

.headingBox {
    font-size: 1.3em;
    padding: 5%;
    font-weight: bold;
    text-align: center;
}

.paragraphBox {
    font-size: 1em;
    padding: 5%;
    line-height: 1.5em;
}

#coloredHeading {
    color: #ff7448;
}

.boxButton {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.interactions {
    padding: 3% 7% 0% 3%;
    font-weight: bold;
    color: #ff7448;
    width: fit-content;
    background-color: #fffdfc;
}

button {
    cursor: pointer;
}

.coloredInteractions {
    padding: 3% 7% 0% 3%;
    font-weight: bold;
    color: #fffdfc;
    width: fit-content;
    background-color: #1F3643;
}

.boxOverlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.textOverlay {
    font-size: 1.5em;
    position: absolute;
    top: 70%;
    left: 55%;
    transform: translate(-50%, -50%);
    color: #fffdfc;
    text-align: center;
    text-decoration: underline;
    font-weight: bold;
    width: max-content;
}

.richeOverlay {
    position: absolute;
    bottom: -15%;
    left: -15%;
    transform: translate(-50%, -50%);
    width: 8em;
    transform: rotate(70deg); 
}

.starOverlay {
    position: absolute;
    top: -15%;
    right: -15%;
    transform: translate(-50%, -50%);
    width: 8em;
    transform: rotate(15deg); 
}

