body {
    font-size: 16px;
    font-family: "Basic sans", "work sans", sans-serif;
    letter-spacing: .03em;
    min-height: 100%;
}

.main-container {
    position: relative; 
    background: #ffffff; 
}

.img-container {
    display: flex;
    height: 60vh;
    z-index: 0;
    margin-bottom: -5px;
}

.content-over-wave {
    position: absolute;
    z-index: 2;
    width: 100%;
    text-align: start;
    bottom: 120px; /* Adjust height of the title on the wave*/
    margin-top: 20px;
    color: #1f3643;
    padding-left: 2%;
    padding-right: 2%;
}

.wave {
    margin: 0;
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 1; 
}

.image {
    width: 100%;
    bottom: 0;
    object-fit: cover;
    z-index: 0; 
    margin-bottom: 5px; /* In order to dont have a gap between the additional content and the image/wave*/
}

.image-in-card img {
    display: block; /* Removes bottom space under the image */
    width: 100%;
    height: auto;
    transition: transform 0.3s ease-out;
}

.page-title {
    font-size: 50px;
    font-weight: bold;

}

.additional-content {
    background: #ffffff; 
    padding-left: 2%;
    padding-right: 2%;
    display: flex;
    flex-direction: column;
    padding: 20px; /* Add some padding */
}

.card-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap; /* Wrap cards to the next line if they don't fit */
}

.card {
    margin: 10px; 
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 10px;
    height: auto;
    display: flex; 
    flex-direction: column; 
    justify-content: space-between;
    transition: all .4s cubic-bezier(0.175, 0.885, 0, 1);
    position: relative; 
    overflow: hidden;
    
}


.image-in-card {
    height: auto; /* Set a fixed height for the image container */
    position: relative; 
    overflow: hidden;
    transition: transform 0.3s ease-out;
}

.image-in-card img {
    height: 100%; 
    object-fit: cover; /* Ensures the image covers the card area */
    transition: transform 0.3s ease-out;
    top: 0;
    left: 0;
}

/* The overlay */
.card-overlay {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5); /* Overlay color */
    opacity: 0; /* Hidden by default */
    transition: opacity 0.3s ease-out;
}

.card-text-container {
    display: flex;
    position: absolute;
    flex-direction: column;
    justify-content: space-between;
    height: 100%; /* Absolutely position the text container on top of the image */
    bottom: 0;
    left: 0;
    width: 100%;
    transition: background-color 0.3s ease-out;
    background: rgba(0, 0, 0, 0.5); /* Initially visible as an overlay */
}

.read-time {
    display: none; /* Hide by default */
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 10px;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    font-size: 0.8em;
    z-index: 3; /* Ensure it's above the image */
}

.card:hover .read-time {
    display: block; /* Show on hover */
}

.card-text-container {
    background: #1f3643; /* Initial background color */
    /* ... other styles ... */
}

.card:hover .image-in-card img {
    transform: scale(1.1); /* Scales the image */
}

.card:hover .card-overlay {
    opacity: 1; /* Shows the overlay */
}

.card:hover .card-text-container {
    background: transparent; /* Transparent background on hover */
}

/* Make threee cards fit on the second row */
.card-row:first-child .card {
    flex: 0 0 calc(33.333% - 20px); 
}

/* Make five cards fit on the second row */
.card-row:last-child .card {
    flex: 0 0 calc(20% - 20px); 
}


.card-title {
    font-family: 'Basic Sans', sans-serif;
    font-size: 1.5em; /* Adjust the size as needed */
    padding: 0px 0px 20px 20px; 
    color: #fc744c;
}

.card-description {
    margin-top: -30px;
    font-family: 'Basic Sans', sans-serif;
    font-size: 1em; /* Adjust the size as needed */
    padding: 0px 0px 20px 20px; /* Add some padding */
    color: white; /* Set the text color */
}

.card-buttons {
    display: flex;
    margin-top: auto;
    gap: 10px;
    padding: 0px 0px 20px 20px; 
    background: none; /* Match the card background */
    border-bottom-left-radius: 10px; /* Round the bottom corners */
    border-bottom-right-radius: 10px; /* Round the bottom corners */
}

.card:hover{
    transform: scale(1.05);
}

button{
    border-radius: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    background: #fcfccc;
    color: #1f3643;
    border: none;
}

button:hover{
    background: none;
    color: #fcfccc;
    border: none;
}

.card-begrepp {
    background-color: #3d2948; /* Light blue background */
}

.card-dysfori {
    background-color: #eee0fd; /* Light orange background */
}

.card-toalett {
    background-color: #2c3813; /* Teal background */
}

.card-normkritik {
    background-color: #E76F51; /* Salmon background */
}

.card-aktenskap {
    background-color: #feffd2 ; /* Sky blue background */
}

.card-aktenskap .card-title{
    color: #1f3643 ; /* Sky blue background */
}

.card-normkritik .card-title{
    color: #1f3643 ; /* Sky blue background */
}
.card-normkritik .card-title{
    color: #1f3643 ; /* Sky blue background */
}





/* Responsiveness */
@media (max-width: 768px) {
    .card {
        flex: 0 0 100%; /* Full width on small screens */
        max-width: 100%; /* To prevent flex-basis from exceeding the container width */
    }
}