:root {
    --primary-color: rgb(218, 218, 218);
    --secondary-color: #000;
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    scroll-behavior: smooth;
}

html {
    height: 100%;
}

body {
    font-size: 16px;
    font-family: "Basic sans", sans-serif;
    font-weight: 300;
    letter-spacing: .03em;
    min-height: 100%;
}

header {
    display: flex;
    padding: .8em 1.5em;
    background-color: #ff7448;
}

/*placering av logotyp*/
.logo-wrapper {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

/*Utseende för logotyp*/
.logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* */
nav.top-desktop-nav {
    text-align: center;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    font-size: 0.8em;
}

nav.top-desktop-nav ul {
    display: flex;
    list-style-type: none;

}

nav.top-desktop-nav li {
    margin: 0 1.5em;
}

nav.top-desktop-nav li a {
    text-decoration: none;
    color: white;
    letter-spacing: 0.05em;
    font-size: 100%;
}

/*länkar ändrar storlek och färg när man hovrar*/
nav.top-desktop-nav a:hover {
    color: #C13584;
    font-size: 120%;

}

/* */
div.language {
    display: flex;
    text-align: right;
    float: right;
}

div.language ul {
    display: flex;
    list-style-type: none;
}

div.language li {
    margin: 0 0.2em;
}

div.language li a {
    text-decoration: none;

}

div.language li a button {
    border-radius: 50%;
    background-color: #1f3643;
    color: #fffdfc;
    padding: 0.5em;
}

div.language li a button:hover {
    padding: 0.8em;
}

footer {
    margin-top: auto;
    background-color: #707070;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 2em 1em;
    font-size: .9em;
    color: #fff;
    width: 100%;
}

footer .footer-nav {
    /* display: grid;
    place-items: center; */
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}


footer .footer-nav h1 {
    font-size: 3em;
    text-shadow: 0 1px 10px #000;
}

footer .footer-nav p {
    font-size: 1em;
    width: 60%;
    text-align: center;
    line-height: 1.2em;

    margin: 1em auto;
    padding: 0 1em;

}

footer .footer-nav .social-media-links a {
    text-decoration: none;
    display: inline-block;
    margin: 2.5em 1.5em;
}

footer ul {
    list-style-type: none;
    /* margin: 0 2em;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 4.5em; */
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
}

footer ul li {
    /* break-inside: avoid; */
    flex: 1 1 200px;
    margin: 0 2em;
}

footer ul li a {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s ease-out;
}

footer ul li a:hover {
    text-decoration: underline;
    transition: color 0.3s ease-in;
    color: red;
}

i.fa-facebook,
i.fa-instagram {
    font-size: 2em;
    margin: 0 .2em;
    color: #fff;
    transition: color 0.3s ease-out;
}

i.fa-facebook:hover {
    color: #4267B2;
    transition: color 0.3s ease-in;
}

i.fa-instagram:hover {
    color: #C13584;
    transition: color 0.3s ease-in;
}

footer .copyright {
    display: block;
    text-align: center;
    padding: 0.5em 0 0 0;
    width: 100%;
    margin: 3em 0 .5em 0;
    color: #fff;
}

/*hamburger START*/

/*En Youtube video användes som guide när hamburger funktionen skapades, men det gjordes egna justeringar för att anpassa webbplatsen som ska skapas till RFSL. 
Fick också ändra så att hamburgaren blir responsiv genom att konvertera från px till rem. Har också adderat %. Guidens hamburgare är inte alls responsiv. Har 
också tagit bort position "absolute"och position "relative" som inte heller är responsiva, och ändrat till "flex". 
Youtube: https://www.youtube.com/watch?v=XM7sEpl0f7c&ab_channel=PureCode
Px to rem calculator: https://nekocalc.com/px-to-rem-converter
*/

/* Stilar för  hamburgermenyn. Förflyttningar osv...*/
.hamburgerNavigation {
    display: flex;
    justify-content: space-between;
    align-items:center;
    }

/* Stilar för hamburgermenyn. Förflyttningar osv.. */    
.hamburgerMenu {
    display: flex;
    justify-content:center;
    flex-direction: row;
    align-items:center;
    transition: 0.5s;
}
    
    /* Ta bort punktlistor från länkarna i menyn */
    .hamburgerMenu li {
    list-style-type: none;
    }
    
    /* Stilar för länkarna i menyn */
    .hamburgerMenu li a {
        color: white;
        text-decoration: none;
        display: block;
        padding: 2.5rem 1.5625rem; 
        line-height: 1;
        transition: 0.3s;
        align-items: center; 
    }

    /* Animeringseffekt när musen "hover"" över länkarna */
    /* Skugga och bakgrundseffekt */
    .hamburgerMenu li a:hover {
        box-shadow: 0 -5px 0px white inset,
        500px 0 0 rgba(255, 255, 255, 0.03) inset;
        padding: 35px 25px 45px 25px;
    }
    
    /* Stil för hamburgerikonen */
    .hamburgerIcon {
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        transition: 0.3s;
    }
    
    /* Stil för den gömda checkboxen som används för att visa och gömma menyn */
    .toggleHamburgerCheckbox {
        display: none; 
        opacity: 0;
    }
    
    /* Ändrar bakgrundsfärgen på hamburgerikonen när checkboxen är markerad */
    .hamburgerNavigation input:checked ~ .hamburgerIcon {
    background: transparent;
    }
    
    /* När checkboxen är markerad, ändra position och form på strecken för att skapa ett "X" */
    .hamburgerNavigation input:checked ~ .hamburgerIcon:before {
    top: 0;
    transform: rotate(-45deg); 
    width: 1.875rem; 
    background: black;
    left: -0.25rem; 
}
    
    /* När checkboxen är markerad, ändra position och form på strecken för att skapa ett "X" */
    .hamburgerNavigation input:checked ~ .hamburgerIcon:after {
        top: 0; 
        transform: rotate(45deg); 
        width: 1.875rem; 
        background: black;
        left: -0.25rem; 
    }
    
    /* När checkboxen är markerad, visa menyn genom att ändra positionen till vänster */
    .hamburgerNavigation input:checked ~ .hamburgerMenu {
        left: 0;
        box-shadow: -1.25rem 0 2.5rem rgba(0, 0, 0, 0.3); 
    }
    
    /* Justera layouten för hamburgermenyn för olika skämar */
    /*Mobil*/
    /*Layouten fixas för hamburgermenyn för mindre skärmar, maximalt 768px, 48 rem*/
     @media screen and (max-width: 48rem) {
    .hamburgerIcon,
    .toggleHamburgerCheckbox {
        display: block;
    }
    .hamburgerMenu {
        justify-content: start;
        flex-direction: column;
        align-items: center;
        display: flex;
        margin-top: 0;
        background: grey;
        width: 100%; 
        height: auto;
        padding-top: 4.0625rem;
    }
}

       /*Dator*/
       /*Skärmar som är större än eller lika med 784px, 49 rem*/
  @media screen and (min-width: 49rem) {
    .hamburgerIcon,
    .toggleHamburgerCheckbox {
        display: block;
    }
    .hamburgerMenu {
        justify-content: start;
        flex-direction: column;
        align-items: center;
        display: flex;
        margin-top: 0;
        background: grey;
        width: 100%; 
        height: auto;
        padding-top: 4.0625rem;
    }
}

    /* Stil för länkarna i hamburgermenyn,bredd. */
    .hamburgerMenu li {
        width: 100%; 
    }
    
    /* Stilar för länkarna i hamburgermenyn, hur det ser ut. */
    .hamburgerMenu li a {
        padding: 1.25rem; 
        font-size: 0.875rem; 
        box-shadow: 0 0.0625rem 0 rgba(255, 255, 255, 0.1) inset; 
    }

    
    /* Ytterligare stil för navigationsmenyn. Gör lite padding. */

    .hamburgerNavigation {
        padding-top: 1.125rem; 
    }


    /*Visar hamburgermenyn när man trycker på checkboxen som sitter på hamburger ikonen*/
    .toggleHamburgerCheckbox:checked ~ .hamburgerIcon ~ .hamburgerMenu {
        display: block;
    
    }
    
    /*Gömmer hamburgermenyn när checkboxen som sitter på hamburger ikonen inte är markerad*/
    .toggleHamburgerCheckbox:not(:checked) ~ .hamburgerIcon ~ .hamburgerMenu {
        display: none;
       
    }

/* hamburger SLUT*/

/* Slidern START, Jag har använt mig av W3 Schools och Chat Gpt för att finjustera
W3 Schools: https://www.w3schools.com/howto/howto_js_slideshow.asp
Chat Gpt: https://chat.openai.com/  */

.slideshow-container {
    max-width: 62.5em; /* 62.5em = 1000px (1em = 16px) */
    margin: auto;
    position: relative; 
}

/* Nästa/Föregående knappar */
.prev,
.next {
    cursor: pointer;
    width: auto;
    margin-top: -1.375rem; 
    padding: 1rem;
    color: white;
    font-weight: bold;
    font-size: 1.125rem; 
    transition: 0.6s ease;
    border-radius: 0 0.1875rem 0.1875rem 0;
    user-select: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

/* Position "Nästa knapp" till höger */
.next {
    right: 0;
    border-radius: 0.1875rem 0 0 0.1875rem; 
}

/* Svart bakgrund med lite genomskinlighet vid hover */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Bildtext */
.text {
    color: #f2f2f2;
    font-size: 0.9375rem; 
    padding: 0.5rem 0.75rem; 
    width: 100%;
    text-align: center;
}

/* Nummer text (1/3 etc) */
.number-text {
    color: #f2f2f2;
    font-size: 0.75rem;
    padding: 0.5rem 0.75rem; 
    top: 0;
}

/* Punkter/cirklar */
.dot {
    cursor: pointer;
    height: 0.9375rem;
    width: 0.9375rem;
    margin: 0 0.125rem; 
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.circle {
    text-align: center;
}

/* Aktiv punkt/cirkel */
.dot.active,
.dot:hover {
    background-color: #717171;
}

.dot {
    background-color: #bbb;
}

.dot:hover {
    background-color: #717171;
}

.slides img {
    width: 100%;
    height: auto;
    display: block;
}

.flex-container {
    margin-top: 4rem;
    margin-bottom: 4rem;
    margin-left: 1rem;
    margin-right: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    color: white;
    margin-top: 2vh;
    margin-bottom: 2vh;
}

.cover {
    display: flex;
    text-align: center;
    flex-direction: column;
    max-width: 22vw;
}

.centered {
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
}

h2 {
    width: 22vw;
    padding-top: 1%;
    padding-bottom: 1%;
}

a {
    cursor: pointer;
}


@media (max-width: 1025px) {

    header {
        width: 100%;
    }

    nav.top-desktop-nav {
        display: none;
    }

    div.language {
        display: flex;
        justify-content: flex-end;
    }

    #svButton {
        display: none;
    }

    .flex-container {
        flex-direction: column;
    }

    .cover {
        max-width: 80vw;
    }

    h2 {
        width: 80vw;
    }
}


@media (max-width: 768px) {

    header {
        width: 100%;
    }

    nav.top-desktop-nav {
        display: none;
    }

    #svButton {
        display: none;
    }

    footer .footer-nav h1 {
        font-size: 2em;
    }

    footer .footer-nav p {
        font-size: .9em;
        width: auto;
    }

    footer ul {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 480px) {

    header {
        width: 100%;
    }
    
    nav.top-desktop-nav {
        display: none;
    }

    div.language {
        float: right;
    }

    #svButton {
        display: none;
    }

    footer ul {
        grid-template-columns: 1fr;
    }

    footer ul li {
        margin: 0.5em 0;
    }
}

/*Here<!--SearchboxSTARTS-->*/

#Search-Form {

    background-color: rgb(255, 255, 255);

    width: 500px;

    height: 45px;

    border-radius: 30px;

    display: flex;

    align-items: center;

    padding: 10px;

    border-color: rgb(11, 115, 206);

}

#Search-Form i {
    color: rgb(158, 158, 156);
    padding: 0;
    background-color: rgba(149, 147, 150, 0.281);
    border-radius: 30px;
    font-size: 25px;
}

#Search-Bar {
    border-radius: 30px;
    outline: none;

}

#Search-Button {
    width: 100%;
    height: 100%;
    outline: none;
    border-radius: 30px;
    background: none;
    border: none;
    font-size: 12px;}
    
    /*Here <!--SearchboxENDS-->*/
