:root {
    --primary-color: rgb(218, 218, 218);
    --secondary-color: #000;
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    scroll-behavior: smooth;
}

/*RFSL colors: 
orange: #ff7448
ljuslila: #F1E0FF
mörkblå: #1F3643
mörkgrön: #29380B
mörklila: #41284A
ljusgul: #feffcd
svart: #1d1d1d
vit: #fffdfc   */

html {
    height: 100%;
}

body {
    font-size: 16px;
    font-family: "Basic sans", "work sans", sans-serif;
    font-weight: 300;
    letter-spacing: .03em;
    min-height: 100%;
}

header {
    width: 100%;
    display: flex;
    padding: .6em 1.5em;
    background-color: #1F3643;
    max-height: 8em;
    justify-content: flex;
}

/*madelenes kod för att göra headern fast under scrollning*/
.sticky-header{
    position: -webkit-sticky; 
    position: sticky;
    top: 0;
    z-index: 1000; 
}

/*placering av logotyp*/
.logo-wrapper {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*Utseende för logotyp*/
.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 25em;
    height: auto;
}

/*styling av den övre navigationsmenyn */
nav.top-desktop-nav {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    font-size: 1em;
    background-color: #1F3643;
}

/*stilar för listan i den övre navigationsmenyn*/
nav.top-desktop-nav ul {
    display: flex;
    list-style-type: none;
    

}

/* styling för listelement*/
nav.top-desktop-nav li {
    margin: 0 2em;
    
    
}

/* styling för länkarna inom listelement*/
nav.top-desktop-nav li a {
    text-decoration: none;
    
}

/*styling av knappar på den övre navigationsmenyn*/
nav.top-desktop-nav a button {
    background-color: #1F3643;
    color: #fffdfc;
    letter-spacing: 0.08em;
    padding: 0.5em;
    
}

/*länkar ändrar bakgrundsfärg när man hovrar*/
nav.top-desktop-nav a button:hover {
    background-color:#15242d;
    padding: 0.5em;
    transition: background-color 0.3s ease;

}

/*styling av language-elementen*/
div.language {
    display: flex;
    margin-left: auto;
}


div.language ul {
    display: flex;
    list-style-type: none;
}


div.language li {
    margin: 0 0.2em;
}


div.language li a {
    text-decoration: none;

}

/* stil för knappar i "language" listelement*/
div.language li a button {
    border-radius: 50%;
    background-color: #F1E0FF;
    color: #29380B;
    padding: 0.5em;
}

/* knapparna för språk blir större när man hovrar */
div.language li a button:hover {
    padding: 0.5em;
    background-color: #feffcd;
}

/* slut top-nav  - my, josephine, louise*/

/* start footer - jessica */
footer {
    margin-top: auto;
    background-color: #707070;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 2em 1em;
    font-size: .9em;
    color: #fff;
    width: 100%;
}

footer .footer-nav {
    /* display: grid;
    place-items: center; */
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}


footer .footer-nav h1 {
    font-size: 3em;
    text-shadow: 0 1px 10px #000;
}

footer .footer-nav p {
    font-size: 1em;
    width: 60%;
    text-align: center;
    line-height: 1.2em;

    margin: 1em auto;
    padding: 0 1em;

}

footer .footer-nav .social-media-links a {
    text-decoration: none;
    display: inline-block;
    margin: 2.5em 1.5em;
}

footer ul {
    list-style-type: none;
    /* margin: 0 2em;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 4.5em; */
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
}

footer ul li {
    /* break-inside: avoid; */
    flex: 1 1 200px;
    margin: 0 2em;
}

footer ul li a {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s ease-out;
}

footer ul li a:hover {
    text-decoration: underline;
    transition: color 0.3s ease-in;
    color: red;
}

i.fa-facebook,
i.fa-instagram {
    font-size: 2em;
    margin: 0 .2em;
    color: #fff;
    transition: color 0.3s ease-out;
}

i.fa-facebook:hover {
    color: #4267B2;
    transition: color 0.3s ease-in;
}

i.fa-instagram:hover {
    color: #C13584;
    transition: color 0.3s ease-in;
}

footer .copyright {
    display: block;
    text-align: center;
    padding: 0.5em 0 0 0;
    width: 100%;
    margin: 3em 0 .5em 0;
    color: #fff;
} 
/*slut footer - jessica */


/*hamburger START: Madelene*/

/*En Youtube video användes som guide när hamburger funktionen skapades, men det gjordes egna justeringar för att anpassa webbplatsen som ska skapas till RFSL. 
Fick också ändra så att hamburgaren blir responsiv genom att konvertera från px till rem. Har också adderat %. Guidens hamburgare är inte alls responsiv. Har 
också tagit bort position "absolute"och position "relative" som inte heller är responsiva, och ändrat till "flex". Istället för att skapa "hamburgar ikonen" och
"X-ikonen" manuellt med kod som guiden använde jag istället färdiga bilder.
Youtube: https://www.youtube.com/watch?v=XM7sEpl0f7c&ab_channel=PureCode
Px to rem calculator: https://nekocalc.com/px-to-rem-converter
*/

/*Ge hamburgaren luftig plats på "header"*/
.hamburgerIconSpace {
    padding-right: 5rem; 
}

/* Stilar för  hamburgermenyn. Förflyttningar osv...*/
.hamburgerNavigation {
    display: flex;
    justify-content: space-between;
    align-items:center;
    }

/* Stilar för hamburgermenyn. Förflyttningar osv.. */    
.hamburgerMenu {
    display: flex;
    justify-content:center;
    flex-direction: row;
    align-items:center;
    transition: 0.5s;
     
}
    
    /* Ta bort punktlistor från länkarna i menyn */
    .hamburgerMenu li {
    list-style-type: none;
    }
    
    /* Stilar för länkarna i menyn */
    .hamburgerMenu li a {
        color: #1f3643;
        text-decoration: none;
        display: block;
        padding: 2.5rem 1.5625rem; 
        line-height: 1;
        transition: 0.3s;
        align-items: center; 
    }

    /* Animeringseffekt när musen "hover"" över länkarna */
    /* Skugga och bakgrundseffekt */
    .hamburgerMenu li a:hover {
        box-shadow: 0 -5px 0px  #1f3643 inset,
        500px 0 0 rgba(255, 255, 255, 0.03) inset;
        padding: 35px 25px 45px 25px;
    }
    
    /* Stil för hamburgerikonen */
    .hamburgerIcon {
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        transition: 0.3s;
    }
    
    /* Stil för den gömda checkboxen som används för att visa och gömma menyn */
    .toggleHamburgerCheckbox {
        display: none; 
        opacity: 0;
    }
    
    /* Ändrar bakgrundsfärgen på hamburgerikonen när checkboxen är markerad */
    .hamburgerNavigation input:checked ~ .hamburgerIcon {
    background: transparent;
    }
    
    
    /* När checkboxen är markerad, visa menyn genom att ändra positionen till vänster */
    .hamburgerNavigation input:checked ~ .hamburgerMenu {
        left: 0;
        box-shadow: -1.25rem 0 2.5rem rgba(0, 0, 0, 0.3); 
    }
    
    /* Justerar layouten för hamburgermenyn för olika skämar */
    
    /*Mobil*/
    /*Layouten fixas för hamburgermenyn för mindre skärmar, maximalt 768px, 48 rem*/
    @media screen and (max-width: 48rem) {
        .hamburgerIcon,
        .toggleHamburgerCheckbox {
            display: block;
        }
    
        /*Full width and height for hamburgerMenu */
        .hamburgerMenu {
            position: fixed;
            top: 0;
            left: 0;
            width: 100vw;
            height: 100vh;
            background: #F1E0FF;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            font-size: 1rem !important;
            font-weight: 800;
        }
    
        /*Luft i listan med alla komponeneter i meny listan*/
        .hamburgerMenu li {
            margin-top: 3rem; 
        }
    
    }

       /*Dator*/
       /*Skärmar som är större än eller lika med 784px, 49 rem*/
       @media screen and (min-width: 49rem) {
        .hamburgerIcon,
        .toggleHamburgerCheckbox {
            display: block;
        }
    
        .hamburgerMenu {
            position: fixed;
            top: 0;
            left: 0;
            width: 100vw;
            height: 100vh;
            background: #F1E0FF;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            font-size: 1.5rem !important;
            font-weight: 800;
            z-index: 6000; 
        }
        
          /*Luft i listan med alla komponeneter i meny listan*/
        .hamburgerMenu li {
            margin-top: 2rem; 
        
    }

}

    /* Stil för länkarna i hamburgermenyn,bredd. */
    .hamburgerMenu li {
        width: 100%; 
    }
    
    /* Stilar för länkarna i hamburgermenyn, hur det ser ut. */
    .hamburgerMenu li a {
        padding: 1.25rem; 
        box-shadow: 0 0.0625rem 0 rgba(255, 255, 255, 0.1) inset; 
    }

    /*Visar hamburgermenyn när man trycker på checkboxen som sitter på hamburger ikonen*/
    .toggleHamburgerCheckbox:checked ~ .hamburgerIcon ~ .hamburgerMenu {
        display: block;
    
    }

    /*Gömmer hamburgermenyn när checkboxen som sitter på hamburger ikonen inte är markerad*/
    .toggleHamburgerCheckbox:not(:checked) ~ .hamburgerIcon ~ .hamburgerMenu {
        display: none;
       
    }

     /* Gör så att hamburgaren ignorerar headern. Annars triggas heasdern och blir större när hamburgar menyn öppnas */
    .hamburger-wrapper {
        position: fixed;
        margin-top: 0;
        margin-left: 0;
        z-index: 6000;
      }

      /* X ikonen, för att stänga hamburger menyn */
.hamburgerImage {
    content: url("hamburgerIcon.png");
}

/* Byter bild från hamburgaren till ett X. X kommer fram när man öppnar hamburgar menyn. Hamburgaren kommer fram, när man stänger menyn*/
.hamburgerNavigation input:checked ~ .hamburgerIcon .hamburgerImage {
    content: url("closeHamburgerIcon.png");
}

/* hamburger SLUT: Madelene*/



/* Slidern START, Jag har använt mig av W3 Schools och Chat Gpt för att finjustera
W3 Schools: https://www.w3schools.com/howto/howto_js_slideshow.asp
Chat Gpt: https://chat.openai.com/  */

.slideshow-container {
    max-width: 70%; /* 62.5em = 1000px (1em = 16px) */
    margin: auto;
    position: relative; 
}

/* Nästa/Föregående knappar */
.prev,
.next {
    cursor: pointer;
    width: auto;
    margin-top: -1.375rem; 
    padding: 1rem;
    color: white;
    font-weight: bold;
    font-size: 1.125rem; 
    transition: 0.6s ease;
    border-radius: 0 0.1875rem 0.1875rem 0;
    user-select: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

/* Position "Nästa knapp" till höger */
.next {
    right: 0;
    border-radius: 0.1875rem 0 0 0.1875rem; 
}

/* Svart bakgrund med lite genomskinlighet vid hover */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Bildtext */
.text {
    color: #f2f2f2;
    font-size: 0.9375rem; 
    padding: 0.5rem 0.75rem; 
    width: 100%;
    text-align: center;
}

/* Nummer text (1/3 etc) */
.number-text {
    color: #f2f2f2;
    font-size: 0.75rem;
    padding: 0.5rem 0.75rem; 
    top: 0;
}

/* Punkter/cirklar */
.dot {
    cursor: pointer;
    height: 0.9375rem;
    width: 0.9375rem;
    margin: 0 0.125rem; 
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.circle {
    text-align: center;
}

/* Aktiv punkt/cirkel */
.dot.active,
.dot:hover {
    background-color: #717171;
}

.dot {
    background-color: #bbb;
}

.dot:hover {
    background-color: #717171;
}

.slides img {
    width: 100%;
    height: auto;
    display: block;
}
/* Slut slideshow - Lorik */


/*Här börjar Dianas CSS kod.
Jag har satt margin för att få mellanrum mellan elementen.
Jag har skapat en flexbox så att "containers" blir responsivt.
Sedan har jag använt space between för mellanrum
*/
.container {
    display: flex;
    flex-wrap: wrap;
    gap: 40px 10px;
    justify-content: center;
    margin-top: 2%;
    margin-bottom: 3%;
}

.single {
    max-width: 48%;
    align-content: center;
    position: relative;
}

.single img {
    width: 100%;
}

.double {
    display: flex;
    flex-direction: column;
    max-width: 23.7%;
    gap: 0.3rem 0rem;
}

.double img {
    vertical-align: middle;
    width: 100%;
}

.cardheader {
    position: relative;
}

.colored {
    background-color: rgba(31, 54, 67, 0.8);
    padding-top: 3%;
    padding-bottom: 3%;
    font-size: 2.7rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    width: 100%;
    text-align: center;
}

.colored1 {
    font-size: 1.5rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    width: 90%;
}

.overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(31, 54, 67, 0.7);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Slut - Diana*/

@media (max-width: 1025px) {

    header {
        width: 100%;
        display: flex;
    }

    .logo-wrapper{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .logo {
        width: 80%;
        min-width: 15em;
        height: auto;
    }

    /*nav.top-desktop-nav {
        display: none; /*gömmer navigeringslänkar i headern på mindre skärm*
    }*/

    #svButton {
        display: none; /*gömmer svenska språkvalsknappen på mindre skärm*/
    }

    .flex-container {
        flex-direction: column;
    }

    .cover {
        max-width: 80vw;
    }

    h2 {
        width: 80vw;
    }

    .double {
        max-width: 95%;
        gap: 50px 0px;
    }

    .single {
        max-width: 95%
    }

    .container {
        gap: 0px 0x;
    }
}



@media (max-width: 768px) {

    header {
        width: 100%;
        display: flex;
    }
    .logo-wrapper{
        display: flex;
    }

    .logo {
        width: 70%;
        max-width: 15em;
        min-width: 10em;
        height: auto;
    }

    nav.top-desktop-nav {
        font-size: 0.8em;
    }

    #svButton {
        display: none; /*gömmer svenska språkvalsknappen på mindre skärm*/
    }

    footer .footer-nav h1 {
        font-size: 2em;
    }

    .colored {
        font-size: 2.5rem;
    }

    footer .footer-nav p {
        font-size: .9em;
        width: auto;
    }

    footer ul {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 400px) {

    header {
        width: 100%;
        display:flex;
    }
    
    .logo {
        width: 50%;
        max-width: 10em;
        min-width: 8em;
        height: auto;
    }

    nav.top-desktop-nav {
        font-size: 0.6em; /*gömmer navigeringslänkar i headern på mindre skärm*/
    }

    #svButton {
        display: none; /*gömmer svenska språkvalsknappen på mindre skärm*/
    }

    footer ul {
        grid-template-columns: 1fr;
    }

    .colored {
        font-size: 1.5rem;
    }

    .colored1 {
        font-size: 1.3rem;
    }


    footer ul li {
        margin: 0.5em 0;
    }
}


/*Here<!--SearchboxSTARTS-->    - William */

.Search-Form, #Search-WithLove{

    background-color: rgb(255, 255, 255);

    max-width: 10em;

    max-height: 2.4em;

    border-radius: 30px;

    display: flex;

    align-items: center;

    padding: 1em;

    border-color: rgb(11, 115, 206);

    position: left;
 
}

.Search-Form i, #Search-WithLove i {
    color: rgb(158, 158, 156);

    padding: 0;

    background-color: rgba(149, 147, 150, 0.281);

    border-radius: 30px;

    font-size: 20px;
}

.Search-Bar, #Search-Bar{
    outline: none;

    max-width: 7em;

    max-height: 5em;
    
    
      
}

.Search-Button, #Search-Button {
    
    outline: none;

    border-radius: 30px;

    background: none;

    border: none;

    max-width: 8rem;
}
#Search-WithLove {
    display: none;}

@media(max-width: 480px){ /*Search box disapears on 400px*/

.Search-Form{

display:none;

}
#Search-WithLove{
/*this here show the search box (with another class name ) in the hamburger menu*/
    
    display:flex;
    margin-top: 6em; /*This so it does not show under the X button*/
    
}

 }
    
 @media (min-width: 481px) {/*this will do cool stuff- :)
                             shows the usual search bar and 
                             hides the one in the hamburger menu*/
    .Search-Form {
    display: flex;
}

    #Search-WithLove {
     display:none;
}
}
    /*Here <!--SearchboxENDS-->*/
