
.container { /*bakgrund vid liten skärm och img1*/
  background-color: #14232c;
  max-width: 100%;
}

.img1 { /*gör bilden responsiv*/
  max-width: 100%;
  height: auto; 
  opacity: 8%; /*gör bilden mer genomskinlig*/
}

.centered  {
  position: absolute; /*för att få texten på bilden*/
  top: 50%; /*textens placering*/
  left: 50%;
  transform: translate(-50%, -50%); /*centrerar text vertikalt och horistontellt*/
}

#gava { /*rubrik*/
  font-size: 1.5em;
  
}

#gava , #info { /*styling av text på img1*/
  color: #fffdfc; 
  letter-spacing: 0.1em; /*litet mellanrum mellan bokstäver för att öka läsbarheten*/
  text-align: start;
  margin-bottom: 0.5em;
}

.btn-group button , .card button { /*styling av knappar*/
  background-color: #f1e0ff; /* bakgrundsfärg */
  color: #1F3643; 
  padding: 0.5em 1.5em; 
  cursor: pointer; /*hand över knapp för att tydliggöra att objektet är klickbar*/
  float: left; /* knappar sida vid sida */
  margin: 0.6em; /*mellanrum mellan knappar*/
}

.btn-group button:hover , .card button:hover {  /* bakgrundsfärg när man hovrar över knappar */
  background-color: #fffdfc;
}

.row { /*Här börjar cards - korten lägger sig under varandra*/
  display: flex; 
  flex-wrap: wrap;
} 

.column { /* kolumner sida vid sida */
  display: flex; 
  width: 100%;
  justify-content: center;
  padding: 0.1em;
}

.card { /*styling av cards*/
  display: flex;
  width: 100%;
  margin: 0.8em; /*avstånd mellan cards*/
  padding: 0.7em; 
  text-align: center;
  background-color:#1F3643;
  color: #fffdfc; 
  border-radius: 2%; /*rundade hörn*/
  flex-direction: column;
/*justify-content: space-between;*/
}

.img2 { /*styling av bilder i cards*/
  opacity: 60%; /*bilder i korten mer genomskinliga */  
  height: auto; 

}

.text { /*styling av brödtext i boxar*/
  color: #fffdfc;
  margin-top: 1em; 
  margin-bottom: 1em; 
}

@media screen and (max-width: 400px) {
.img1 {
  display: none; /*döljer bild vid liten skärm*/
}

#gava {
  margin-top: 14em; 
  text-align: center;
}

#info { /*marginal mot kanter*/
  margin-left: 2%;
  margin-right: 2%; 
  padding: 8%; 
}

.centered {
  height: 80vh;

}
.btn-group button { /*styling av knappar. vid liten skärm tar knapparna upp större del av skärmen*/
  display: flex;
  width: 90%; 
  margin: 0.5em; /*mellanrum mellan knappar*/
  justify-content: center;
}

.column {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  margin-bottom: 1.25em;
}
}

@media (min-width: 768px) {
.container {
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
}

.centered {  /*styling av huvudelement vid mellanstor skärm*/
  text-align: center;
  justify-content: center;;
  position: absolute; 
  margin-top: 10%;
}

#gava  { /*större textstorlek*/
  font-size: 2em; 
}
    
#gava , #info { /*styling av text vid större skärm*/
  text-align: start; /*texten är placerad i kanten vid större skärm*/
  margin-top: 1em;
  margin-bottom: 1em; 
}

.text { /*större brödtext i cards*/
font-size: 1em; 
}
    
.rubrik { /*centrerad brödtext och rubrik i cards med litet mellanrum mellan bokstäver för att öka läsbarheten*/
  letter-spacing: 0.08em; 
  text-align: center;
  justify-content: center;
  margin-left: 0.5em;
} 

.row {
  display: flex;
  justify-content: center;
}
    
.column {  /*centrera kolumnerna vid större skärm och styling*/
  display: flex;
  justify-content: center;
  width:30%;
  margin: 0.5em;
  font-size: 1.125em;
  line-height: 1.5em; 
}

    
.card button  { /*styling av knapp vid mellanstor skärm*/
  justify-items: center;
  margin-top: auto; /*knappen behåller samma position*/
}

.img2  { 
  height: auto; 
  margin-bottom: 0.1em; /*marginal mellan bild och rubrik*/
}   
}
  
@media screen and (max-width: 1025px) {
.centered {  /*styling av huvudelement vid stor skärm*/
  position: relative;
  text-align: center;
  justify-content: center;
  margin-left: 2%;
  margin-right: 2%;
 }
  
.row {
  flex-direction: row;
}

.column {
  width: 100%;
  margin: 0.5em; 
  position:relative; 
  padding: 0.125em; 
}
  
.card {
  display: flex;
  flex-direction: column;
  position: relative;
  float: left;
  width: 100%;
}
  
.img1 {
  width: 100%; /*gör bilden större i större skärmar*/
}  

.card {
  width:80%;
}
}
