/*styling av body*/
body{
    background-color: #fffdfc;
    max-width: 100%;
    line-height: 1.6;
}

/*styling för navigationens knappar*/
nav.top-desktop-nav a  {
    color: #F1E0FF;
    border: 1px solid transparent;
}

/*styling för att visa tydligt att sidan för begreppsordlistan är aktiv*/
#active-page {
    background-color: #1F3643;
    color: #F1E0FF;
    border: 1px solid #F1E0FF;
}

/*styling för att den aktiva sidans länkknapp ska bli konsekvent i färgerna med de andra knapparna i navigationen när man hovrar*/
#active-page:hover {
    background-color:#15242d;
    color: #F1E0FF;
}

/*bokstavsnavigation till bokstavsavsnitt*/
.bokstav-nav {
    width: 100%; /* Anpassa bredden till hela tillgängliga utrymmet */
    background-color: #F1E0FF;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 0.1em; /* Övre padding i em */
    border: 1px solid #1F3643;
}

/*styling för listelement i bokstavsnavigering*/
.bokstav-nav li {
    padding: 0.6em; 
    margin: 0 0.5em; 
    text-align: center; 
}

/*styling för länkar i bokstavsnavigering*/
.bokstav-nav a {
    padding: 0.6em; 
    text-decoration: none;
    color: #41284A;
    transition: background-color 0.3s ease; /* skapar en smidigare övergång för hover-effekt */
}

.bokstav-nav a:hover {
    background-color: #feffcd;
}

/*container runt innehåll på sidan*/
.flex-container {
    display: flex;
}

/*styling av våg-bild*/
#fana {
    width: 100%;
    /*height: 50em;*/
    display: flex;
    align-items: center;
    margin-top: -30%;
}

/*container runt main-innehåll*/
#main-content {
    flex: 1;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    align-items: center;   
}

/*placering och centrering av p-tag i top-div i main*/
.top-content {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;  
}

/*styling för h1-element (Begreppsordlista)*/
.top-content h1 {
    color:#1d1d1d;
    font-size: 2em;
    font-weight: bold;
    display: flex;
    text-align: center;
    justify-content: center;
    display: flex;  
}

/*storlek på p-tag i top-div i main*/
.top-content p {
    width: 50%;
    padding: 0.5em;
}

/*container runt alla begrepp i ordlistan*/
.begrepp {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    list-style-type: none;
    align-items: center;
    justify-content: center;
    max-width: 100%;   
}

/*layout för unordered list*/
.begrepp ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;    
}

/*styling för listelement i ul*/
.begrepp ul li {
    list-style-type: none;
    flex: 1 1 calc(30% - 1em); /* Justerar storleken på varje kolumn */
    margin-bottom: 1em;
}

/*styling för hela container runt begreppen*/
.bokstav {
    color:#41284A;
    font-size: 1.2em;
    display: flex;
    justify-content: center;
    align-items: stretch; 
    text-align: center;
    flex-direction: column;
    width: 100%;
}

/*styling av container runt avsnittsrubriker*/
.bokstav-title {
    background-color: #41284A;
    color: #F1E0FF;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    text-align: left;
}

/*styling av rubrik i avsnitt*/
.bokstav-title h2 {
    margin: 0.4em 4em;
}

/*styling av h3-rubriker inuti cards*/
.bokstav-rubrik {
    color: #41284A;
    display: flex;
    align-items: center;
    justify-content: center;    
}

.bokstav ul {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    align-items: flex-start;
}

/*utseende och placering av cards runt listelement*/
.bokstav ul li {
    color: #41284A;
    width: calc(30% - 2em);  
    margin: 1em;  
    padding: 1.25em; 
    border: 0.1em solid #41284A;
    border-radius: 0.1em; 
    box-shadow: 0 0.4em 0.8em #1F3643; /* Skuggning av box*/
    list-style-type: none;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.bokstav  ul li p {
    text-align: left;
}

/*styling av lista i ett av begreppen*/
.inner-list-items {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    margin-right: 2em;
}

.inner-list-items .inner-list {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    width: 100%;
}
/*styling av rubriktext i inre lista*/
.inner-list h4 {
    font-weight: bold;
    padding: 0.5em;
}

/*styling av länkar i löpande text*/
.content-link {
    text-decoration: none;
    color: #ff7448;
}

.content-link:hover {
    font-weight: bold;
}

/*styling för brytpunkt 1025px*/
@media (max-width: 1025px) {
    
    #fana {
        margin-top: -30%;
    }
    
    .top-content p {
        width: 80%;
    }

    .begrepp {
        flex-direction: column;
    }

    .begrepp p {
        text-align: left;
    }

    .bokstav-nav {
        display: none; /* Dölj bokstavsnavigering på mindre skärmar */
    }

    .bokstav ul li {
        width: calc(50% - 2em); 
    }

    .bokstav h3 {
        font-size: 1.4em;
    }   
    
}

/*styling för brytpunkt 768px*/
@media (max-width: 768px) {
    
    #main-content {
        width: 100%;
    }

    .top-content p {
        width: 80%;
    }

    .begrepp {
        width: 100%;
    } 

    .begrepp p {
        text-align: left;
    }

    .bokstav-nav {
        display: none; /* Dölj bokstavsnavigering på mindre skärmar */
    }

    .bokstav {
        flex-direction: column;
        align-items: center;
    }

    .bokstav-title {
        padding: 0.4em;
    }

    .bokstav h3 {
        font-size: 1.3em;
    }

    .bokstav ul li {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        flex-direction: column;
    }

    .bokstav ul li p {
        text-align: left;
    }
}

/*styling för brytpunkt 400px*/
@media (max-width: 400px) {
    
    .main-content-link {
        display: none;
    }
    
    .top-content h1 {
        font-size: 1.2em;
    }

    .top-content p {
        width: 80%;
        
    }

    .begrepp {
        margin: 0;
    }

    .begrepp ul li {
        width: 50%;
        
    }

    .begrepp p {
        text-align: left;
    }

    .bokstav-nav {
        display: none; /* Döljer bokstavsnavigering på mindre skärmar */
    }

    .bokstav h3 {
        font-size: 1em;
    }

    .bokstav ul li {
        width: calc(70% - 2em); 
    }

    .bokstav li p {
        text-align: left;
    }

}