/* <!--Här börjar styling för Presssidan Lorik. koden är skapad av mig med hjälp av https://www.w3schools.com/ samt http://chat.openai.com för justering från px till rem-->

/* Styling för huvudsektionen 'main' */

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Styling för press-box elementen */
.press-box {
    box-sizing: border-box;
    width: 20rem;
    margin: 1rem;
    padding: 2rem;
    text-align: center;
    cursor: pointer;
    background-color: #fff;
    border: 0.8rem solid #1F3643;
    border-radius: 0.8rem;
    transition: transform 0.3s;
}

/* Styling för press-box elementet när det hovras över */
.press-box:hover {
    transform: scale(1.05);
}

/* Styling för bilder inuti press-box elementet */
.press-box img {
    max-width: 100%;
    height: auto;
    border-radius: 0.8rem;
    margin-bottom: 1rem;
}

/* Media Query för skärmar med en maximal bredd på 48rem (768px) */
@media (max-width: 48rem) {
    .press-box {
        width: 140%; /* Du kan överväga att använda ett annat sätt att anpassa storleken på mindre skärmar */
    }
}

/* Styling för större rubrik */
.larger-heading {
    font-size: 3rem;
    font-family: 'Georgia', serif;
    margin-bottom: 1rem;
}